.cards{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 7%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
}
.cards img{
    width: 25%;
    height: 300px;
    object-fit: cover;
}
.recipe-title{
    font-size: 18px;
    padding: 20px;
    font-family: cursive;
}
.detail-btn{
    width: 130px;
    height: 35px;
    font-size: 14px;
    font-family: cursive;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: beige;
    margin-top: 20px;
    cursor: pointer;
}
.detail-btn:hover{
    transform: scale(1.1);
}